In [20]:
import pyodbc

In [22]:
# New Employee Data
new_employee = [['Aditya', 'Sen', '1998-01-01', 4500],
                ['Akansha', 'Shaw', '1998-11-01', 5500],
                ['Alexis', 'Kent', '1999-02-11', 4500]]

In [24]:
#define the server name and database name
server = r'ATHENA\SQLEXPRESS'
database = 'Parks_and_Recreation'

# define our connection string
conx_str = (
        f"DRIVER={{ODBC Driver 17 for SQL Server}};"
        f"SERVER={server};"
        f"DATABASE={database};"
        "Trusted_Connection=yes;"
)
cnxn = pyodbc.connect(conx_str)

# create the connection cursor
cursor = cnxn.cursor()

insert_query = '''INSERT INTO Employees (FirstName, LastName, DateOfBirth, Salary)
VALUES (?, ?, ?, ?);'''

for row in new_employee:

    # Assign the values to be inserted to a new tuple
    values = (row[0], row[1], row[2], row[3])

    #insert into the database
    cursor.execute(insert_query, values)

# commiting the inserts

cnxn.commit()


# grab all the rows in the table
cursor.execute('SELECT *  FROM Employees')

# Loop through the results
for row in cursor:
    print(row)

(1, 'John', 'Doe', datetime.date(2024, 11, 27), Decimal('5000.00'), True)
(2, 'Jane', 'Smith', datetime.date(2024, 11, 27), Decimal('5500.00'), True)
(3, 'Robert', 'Brown', datetime.date(2024, 11, 27), Decimal('6000.00'), True)
(4, 'Aditya', 'Sen', datetime.date(1998, 1, 1), Decimal('4500.00'), True)
(5, 'Akansha', 'Shaw', datetime.date(1998, 11, 1), Decimal('5500.00'), True)
(6, 'Alexis', 'Kent', datetime.date(1999, 2, 11), Decimal('4500.00'), True)

In [17]:
for drivers in pyodbc.drivers():
    print(drivers)

SQL Server
SQL Server Native Client RDA 11.0
ODBC Driver 17 for SQL Server
Microsoft Access Driver (*.mdb, *.accdb)
Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)
Microsoft Access Text Driver (*.txt, *.csv)